* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: round(up, 1.25em, 0.5rem);
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans";
  font-weight: normal;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  align-self: end;
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 1;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: start;
}

a {
  color: initial;
  font-weight: 700;
}

h1 {
  /* font-family: "Parisienne", cursive; */
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  align-self: center;
}

main h1 {
  text-align: center;
}

subtitle {
  align-self: flex-end;
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  text-transform: capitalize;
}

ul,
ol {
  padding: 0.5rem 1rem;
  padding-right: 0rem;
}
li {
  padding: 0.25rem 0rem;
}

hr {
  margin: 1rem;
}

p {
  margin: 0.25rem 0;
  code {
    padding: 0.25rem;
    margin: 0.25rem;
  }
}

div.sourceCode {
  align-self: stretch;
}
pre.sourceCode {
  overflow: hidden;
  padding: 1rem;
  margin: 1rem 0rem;
}

#footnotes {
  padding-top: 1rem;
}

retro-board {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  position: relative;
  background-position: 0 0;

  card {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

    div {
      font-weight: bold;
    }

    reaction {
      position: absolute;
    }

    &:nth-child(1) {
      rotate: -3.1415deg;
    }
    &:nth-child(2) {
      rotate: 3.1415deg;
    }
    &:nth-child(3) {
      rotate: -3.1415deg;
    }
    &:nth-child(4) {
      rotate: 3.1415deg;
    }
  }

  label {
    content: "Retro Board";
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-familiy: monospace;
  }
}

header h1 {
  position: relative;
  overflow: hidden;
  /* flex: 1; */
  /* align-self: stretch; */
}

#post-spacer {
  opacity: 0;
}

#site-title,
#post-title {
  position: absolute;
  inset: 0;
  left: 1rem;
  overflow: hidden;
}

code {
  span.kw {
    color: var(--col-green);
  }
  span.cf {
    color: var(--col-green);
  }
  span.dt {
    color: var(--col-yellow);
  }
  span.fu {
    color: var(--col-blue);
  }
  span.bu {
    color: var(--col-blue);
  }
  span.st {
    color: var(--col-cyan);
  }
  span.ss {
    color: var(--col-orange);
  }
  span.va {
    color: var(--col-purple);
  }
  span.op {
    color: var(--col-fg);
  }
  span.co {
    color: var(--col-cursor);
  }
  span.at {
    color: var(--col-orange);
  }
  span.ot {
    color: var(--col-bright-red);
  }
  span.pp {
    color: var(--col-red);
  }
  span.im {
    color: var(--col-red);
  }
}

html,
body {
  background-color: var(--col-bg);
  color: var(--col-fg);
}

header {
  background-color: var(--col-bg);
  box-shadow:
    oklch(from var(--col-fg) l c h / 0.1) 0px -3px 9px 0px,
    oklch(from var(--col-fg) l c h / 0.06) 0px 0px 0px 1px;
}

p code,
pre.sourceCode {
  box-shadow:
    oklch(from var(--col-fg) l c h / 0.1) 0px -3px 9px 0px,
    oklch(from var(--col-fg) l c h / 0.06) 0px 0px 0px 1px;
}

a {
  color: initial;
  font-weight: 500;
  color: var(--col-blue);
  &:hover {
    color: var(--col-bright-blue);
  }
}

blockquote {
  background-color: var(--col-bright-bg);
  border-color: var(--col-bright-white);
  box-shadow:
    oklch(from var(--col-fg) l c h / 0.1) 0px -3px 9px 0px,
    oklch(from var(--col-fg) l c h / 0.06) 0px 0px 0px 1px;
}
